.h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-family: 'Coda Caption', sans-serif;
  font-size: 2.5rem; }

.center {
  display: flex;
  justify-content: center; }
  .center .img-1 {
    width: 20%;
    transition: 1s; }
    .center .img-1:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: red; }
  .center .img-2 {
    width: 20%;
    transition: 1s; }
    .center .img-2:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: red; }
  .center .img-3 {
    width: 20%;
    transition: 1s; }
    .center .img-3:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: red; }

#result {
  text-align: center;
  margin-top: 80px;
  font-family: 'Coda Caption', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: red; }
